<%- include('partials/header') %>

<h1>
    <%= title %>
</h1>
<p class="page-intro">Here are a few of our partner organizations:</p>

<ul class="card-grid">
    <li class="card">
        <img class="card__logo" src="/images/brightfuture-logo.png" alt="BrightFuture Builders logo">
        <p class="card__name">BrightFuture Builders</p>
        <p class="card__contact"><a href="mailto:info@brightfuture.org">info@brightfuture.org</a></p>
    </li>
    <li class="card">
        <img class="card__logo" src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo">
        <p class="card__name">GreenHarvest Growers</p>
        <p class="card__contact"><a href="mailto:contact@greenharvest.org">contact@greenharvest.org</a></p>
    </li>
    <li class="card">
        <img class="card__logo" src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo">
        <p class="card__name">UnityServe Volunteers</p>
        <p class="card__contact"><a href="mailto:hello@unityserve.org">hello@unityserve.org</a></p>
    </li>
</ul>

<%- include('partials/footer') %>